* {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar {
    position: relative;
    background: #663399;
    background: linear-gradient(to bottom,#664499,#661199);
    border-bottom: 1px #660099 solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    height: 50px;
    color: #fff;
}

.navbar a {
    color: #ccc;
}

.navbar a:hover {
    color: #fff;
}

.content {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

.content::after, .collapse::after {
    clear: both;
}

.content::after, .content::before {
    content: " ";
    display: block;
}

.collapse::after, .collapse::before {
    content: " ";
    display: block;
}

.collapse {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-header {
    float: left;
}

.navbar-header::after {
    clear: both;
    content: " ";
    display: block;
}

.navbar-header > a {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

.navbar-nav {
    float: left;
}

.navbar-nav > li {
    float: left;
    position: relative;
}

.navbar-nav > li > a {
    padding: 15px 15px;
    display: block;
}



.navbar-nav > li:hover > a
{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #336699, #330099) repeat scroll 0 0;
}

.navbar-nav > li:hover .nav-menu > li {
    opacity: 1;
    transform: none;
}

.navbar-nav::after, .navbar-nav > li::after {
    clear: both;
    content: " ";
    display: block;
}

.nav-menu {
    left: 0;
    max-height: 0;
    min-width: 130px;
    position: absolute;
    top: 100%;
}

.nav-menu > li {
    opacity: 0;
    transform: rotateY(270deg);
    transition: opacity 0.4s ease 0s, transform 0.5s ease 0s;
    position: relative;
}

.nav-menu > li > a{
    display: block;
    background-color: #FF0033;
    text-align: center;
    padding: 10px 15px;
}

.nav-menu > li::after {
    clear: both;
    content: " ";
    display: block;
}

.nav-menu {
    display: block;
    left: -40px;
}

.nav-menu li:hover a{
    background-color: #606060;
}

.nav-menu li:nth-child(1){
    transition-delay: 350ms;
}

.nav-menu li:nth-child(2){
    transition-delay: 300ms;
}

.nav-menu li:nth-child(3){
    transition-delay: 250ms;
}

.nav-menu li:nth-child(4){
    transition-delay: 200ms;
}

.nav-menu li:nth-child(5){
    transition-delay: 150ms;
}

.nav-menu li:nth-child(6){
    transition-delay: 100ms;
}

.nav-menu > li > a {
    color: #fff;
}

.nav-menu::after, .nav-menu::before {
    content: " ";
    clear: both;
    display: block;
}



.main-content {
    width: 1170px;
    padding-top: 30px;
}

.main-content > a:nth-child(1) {
    display: block;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #FF66CC, #FF00CC) repeat scroll 0 0;
    border: 1px solid #FF33CC;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    width: 60px;
    text-align: center;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
}

.main-content::after {
    clear: both;
    content: " ";
    display: block;
}

.main-content br::after {
    clear: both;
    content: " ";
    display: block;
}

.main-content br {
    clear: both;
}

.main-content > a:nth-child(1)::after, .main-content > a:nth-child(1)::before {
    clear: both;
    content: " ";
    display: block;
}

.main-content > a:nth-child(3) {
    color: #fff;
    display: block;
    width: 100px;
    height: 50px;
    line-height: 45px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #CC0066, #CC3366) repeat scroll 0 0;
    border: 1px solid #CC0000;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
    text-align: center;
}

.main-content > a:hover {
    outline: 0 none;
}

.main-nav {
    background: linear-gradient(to bottom, #661199, #330099);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.012), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
    height: 45px;
    border: 1px solid #663399;
    color: #ccc;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 4px;
}

.main-nav  a:hover {
    color: #fff;
    outline: 0 none;
}

.main-nav-header > a {
    height: 44px;
    line-height: 44px;
    font-size: 21px;
}

.main-nav-header {
    float: left;
}

.main-nav-header::after {
    clear: both;
}

.main-nav-header::after, .main-nav-header::before {
    content: " ";
    display: block;
}

.main-collapse {
    padding-left: 15px;
    float: left;
}

.main-navbar-nav  > li {
    float: left;
    position: relative;
}

.main-navbar-nav > li > a {
    display: block;
    padding: 12.5px;
}

.main-navbar-nav > li::after {
    clear: both;
}

.main-navbar-nav > li::after, .main-navbar-nav > li::before {
    content: " ";
    display: block;
}

.main-navbar-nav::after {
    clear: both;
}

.main-navbar-nav::after, .main-navbar-nav::before {
    content: " ";
    display: block;
}

.main-nav-menu {
    max-height: 0;
    min-width: 130px;
    position: absolute;
    top: 100%;
    display: block;
    left: -40px;
}



.main-nav-menu > li {
    opacity: 0;
    transform: rotateX(450deg);
    transition: opacity 0.4s ease 0s, transform 1s ease 0s;
    position: relative;
}

.main-nav-menu > li > a {
    display: block;
    padding: 10px 15px;
    text-align: center;
    background-color: #CC3366;
}


.main-navbar-nav > li:hover .main-nav-menu > li{
    opacity: 1;
    transform: none;
}

.main-nav-menu li:nth-child(1) {
    transition-delay: 350ms;
}

.main-nav-menu li:nth-child(2) {
    transition-delay: 300ms;
}

.main-nav-menu li:nth-child(3) {
    transition-delay: 250ms;
}

.main-nav-menu li:nth-child(4) {
    transition-delay: 200ms;
}

.main-nav-menu li:nth-child(5) {
    transition-delay: 150ms;
}

.main-nav-menu > li::after, .main-nav-menu > li::before {
    content: " ";
    display: block;
}

.main-nav-menu > li::after {
    clear: both;
}


.main-input {
    margin-top: 20px;
}

.main-input input[type=text]{
    border: 1px solid #ccc;;
    border-radius: 3px;
    padding: 8px 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    outline: 0 none;
}

.main-input input[type=text]:focus {
    border: 1px solid #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}


.submit {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    outline: 0 none;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.submit:focus {
    outline: 0 none;
    text-decoration: none;
}

 .submit:active, .submit.active {
    background-image: none;
    outline: 0 none;
    text-decoration: none;
    border: 1px solid #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

 .submit:hover {
    outline: 0 none;
    text-decoration: none;
}

.submit::-moz-focus-inner{
    outline: 0 none;
}

input::-moz-focus-inner {
    border: 0 none;
}

.form-input {
    margin-top: 20px;
}

.form-input > p {
    color: red;
    margin: 5px 0;
}
